@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('https://lucaswyd.github.io/wordsearch/fonts/Metropolis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-Medium';
  src: url('https://lucaswyd.github.io/wordsearch/fonts/Metropolis-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('https://lucaswyd.github.io/wordsearch/fonts/Metropolis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Metropolis-SemiBold', sans-serif;
}

.buttonround {
  margin-right: 10px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-family: Metropolis-Bold, sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 7px;
  padding: 4px 12px;
  font-size: 1rem;
  line-height: 1.0;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: rgb(255, 255, 255) !important;
  background: #012640;
  margin-bottom: 10px;
    letter-spacing: 0.5px;
}




.buttonround:hover {
    background: #011f35;
}

.featurescontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(233, 233, 233);
    box-sizing: border-box;
}

.featuresinside {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 35px;
    color: rgb(233, 233, 233);
}

.features {
    font-size: 25px;
    color: rgb(233, 233, 233);
}

.featuresdesc {
    font-size: 13px;
}

.body {
    width: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Metropolis-Medium', sans-serif;
    color: #8F8F9F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #121212;
}

.column {
    flex: 0 0 33%;
    max-width: 33%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.kernellogo {
    vertical-align: middle;
    border-style: none;
    height: 60px;
}

@media (max-width: 768px) {
  .fatfuck {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .logonrefs {
    justify-content: center!important;
    margin-right: 0;
    margin-left: 0;
  }
  
  .refs {
    margin-top: 0;
    justify-content: center;
  }
  
  .refs li {
    margin-left: 20px;
  }
  
  .submaincontainer {
    margin-top: 3rem;
  }
  
  .titlebigcock {
    font-size: 36px;
  }
  
  .headerdesc {
    margin-bottom: 30px;
  }
  
  .row {
    flex-wrap: wrap;
  }
  
  .desccard {
    width: 100%;
    margin-bottom: 20px;
  }

.desccard-spacer {
    margin-right: 40px;
}

@media (max-width: 700px) {
  .logonrefs {
    display: none;
  }
  
  .desccard {
      margin:auto;
  }
  
  td, th {
  text-align: left;
  display: block;
  float: left;
  width: 100%;
}
}


#optionaltext {
    font-size: 12px;
    color: #AAAAAA;
}
